# .htaccess example

# Ensure the site is accessible
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Handle requests for files and directories directly
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Rewrite everything else to index.html
    RewriteRule ^(.*)$ index.html [L,QSA]
</IfModule>

# Allow all
Order allow,deny
Allow from all
